div.container{
    position: relative;
    width: 94%;
    height: auto;
    border-top: 3px solid #FFBE7BFF;
    padding:3%;
    background-color:cadetblue;
  } 
  body{
      overflow-x:hidden;
  }
  h1{
      font-size:70px;
      color:#FFBE7BFF;
  }
  .maggy p{
    font-family: 'Cabin', sans-serif;
    font-family: 'Russo One', sans-serif;
    font-size:50px;
    color:white;
  }
  div.absolute {
    position: absolute;
    top: 40%;
    right: 0;
    width: 40%;
    height: 100%;
    margin-left:90%;
  }
  .absolute img{
  width:70%;
  height:155%;
  background-color: #FFBE7BFF;
  padding: 15%;
  }
  .about{
      margin-left:14%;
  }
  h2{
      font-size:70px;
      color:#FFBE7BFF;
  }
  .about p{
      font-size:25px;
      color:rgb(95, 160, 146);
      font-family: 'Rokkitt', serif;
  }
  span{
      color:cadetblue;
  }
  h3{
      font-size:50px;
      color:#FFBE7BFF;
      margin-left:14%;
  }
  h3 :hover{
      color:cadetblue;
  }
  .project{
      margin-left:15%;
      margin-bottom:35%;
      justify-content: space-evenly;
  }
  .project :hover{
      color:#FFBE7BFF;
  }
  .irungu{
      float:left;
      margin-top:2%;
      width:20%;
      text-align:center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .middle{
      float:left;
      margin-top:2%;
      margin-left:10%;
      width:20%;
      text-align:center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  h4{
      font-size:50px;
      color:cadetblue;
  }
  .project p{
      font-size:25px;
      color:rgb(95, 160, 144)
  }
  .footer{
    height:3%;
    background-color:cadetblue;
    width:100%; 
  }
 .dive{
      font-size:40px;
      margin-left:15%;

  }
  .dive :hover{
      color:#FFBE7BFF;
  }
  .ww{
      margin-top:5%;
      margin-left:12%;
      font-size:45px;
      color:white;
      font-family: 'Cabin', sans-serif;
      font-family: 'Russo One', sans-serif;
  }
 .available{
    color:#FFBE7BFF;
  }
@media only screen and (max-width:600px){
  div .absolute{
      width:35%;
      height:40%;
      position:absolute;
  }

  .container{
      display:flex;
      flex-wrap:wrap;
  }
  body{
      overflow-x: hidden;
  }
  .project{
      margin-bottom: 30%;
      display:flex;
      flex-wrap:wrap;
      flex-direction: column;
      margin-left:4%;
  }
  .irungu{
      width:80%;
      margin-left:4%;
  }
  .middle{
      width:80%;
      margin-left:4%;
  }
  h4{
    font-size:15px;
    color:cadetblue;
}
.project p{
    font-size:10px;
    color:rgb(95, 160, 144);
}
.about{
    margin-left:4%;
}
.about p{
    font-size:15px;
}
.maggy p{
    font-size:15px;
}
h2{
    font-size: 28px;
}
h1{
    font-size:50px;
}
.ww{
    font-size:25px;
}
.dive{
    font-size:15px;
}
}
@media only screen and (max-width:1300px){
    .maggy p{
   font-size:31px;
    }
.about{
    margin-left:9%;
}
.about p{
    font-size: 16px;
}
.project{
    margin-bottom: 20%;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
}
.irungu{
    width:80%;
    margin-left:4%;
}
.middle{
    width:80%;
    margin-left:4%;
}
.absolute{
    height:60%;
    margin-top:20%;
}
}