div.container{
    position: relative;
    width: 94%;
    height: auto;
    border: 3px solid #FFBE7BFF;
    padding:3%;
    background-color:cadetblue;
  } 
  h1{
      font-size:70px;
      color:#FFBE7BFF;
  }
  .maggy p{
    font-family: 'Fjalla One', sans-serif;
    font-size:50px;
    color:white;
  }
  div.absolute {
    position: absolute;
    top: 40%;
    right: 0;
    width: 44%;
    height: 100%;
    margin-left:90%;
  }
  .absolute img{
  width:70%;
  height:155%;
  background-color: #FFBE7BFF;
  padding: 15%;
  }
  .about{
      margin-left:10%;
  }
  h2{
      font-size:70px;
      color:black;
  }
  .about p{
      font-size:30px;
      color:rgb(95, 160, 146);
      font-family: 'Rokkitt', serif;
  }
  span{
      color:cadetblue;
  }
  